/*
css for Bubble Under site
*/
/*slideshow stuff*/
#slideshow #slideshowWindow { width:500px; height:257px; margin:0; padding:0; position:relative; overflow:hidden; }
 #slideshow #slideshowWindow .slide { margin:0; padding:0; width:500px; height:257px; float:left; position:relative; }
#slideshow #slideshowWindow .slide .slideText { position:absolute; top:130px; left:0px; width:100%; height:130px; background-repeat:repeat; margin:0; padding:0; color:#FFFFFF; font-family:Myriad Pro, Arial, Helvetica, sans-serif; } #slideshow #slideshowWindow .slide .slideText a:link, #slideshow #slideshowWindow .slide .slideText a:visited { color:#ffffff; text-decoration:none; } #slideshow #slideshowWindow .slide .slideText h2, #slideshow #slideshowWindow .slide .slideText p { margin:10px 0 0 10px; padding:0; }
.nav { display:block; text-indent:-10000px; position:absolute; cursor:pointer; } #leftNav { top:223px; left:780px; width:94px; height:34px; background-image:url(previous.png); background-repeat:no-repeat; z-index:999; }
#rightNav { top:225px; left:910px; width:53px; height:26px; background-image:url(next.png); background-repeat:no-repeat; z-index:999; }
body{
font-family:verdana,Helvetica,Arial,sans-serif;
background-color:#e2edff;
line-height:125%;
padding:0;
margin:0;
}

nav li{
font-size:small;
list-style-type:none;
}

p{
font-size: small;
color:navy;
}
#tagline p{
font-style:italic;
font-family:Georgia,times,serif;
background-color: #bed8f3;
border: 3px solid #7da5d8;
padding-top: .2em;
padding-bottom: .2em;
padding-left: .8em;
margin:0;
background: #bed8f3 url(gallery/tagline-fade.jpg) repeat-y right;
}
em{
text-transform:uppercase;
}
h1,h2,h3{
font-family:"Trebuchet Ms",Helvetica,Arial,sans-serif;
}
h1{
font-family:"Trebuchet MS",Arial,Helvetica, sans-serif;
font-size:x-large;
color:white;
padding-top:6em;
padding-bottom:.2em;
padding-left: .4em;
margin:0;
background:navy url(images/header.jpg)repeat;
}
h2{
color:navy;
font-size:130%;
font-weight:normal;
padding-top:15px;
}
a{
font-weight:bold;
color:black;
}
a:link{
color:black;
}
a:hover{
text-decoration:none;
color:white;
background-color:green;
text-shadow:none;
}
a:active{
color:aqua;
background-color:navy;
}
.fun{
color:#339999;
font-family:Georgia,Times,serif;
letter-spacing:0.05em;
}
nav{
width:204px;
height: 375px;
background: #7da5d8 url(images/navpic3.jpg);
display:block; /*only for IE* or less*/
float:none;
}

nav a{
text-shadow:1px 1px 2px white,-1px -1px 2px white;
text-decoration:none;
}
h2{margin-top:15px;
}
/*this section deals with positioning on the screen. it uses absolute positioning; fixed red and y co-ordinates measured from the top-left corner of the browser's content display.*/
nav, #bodycontent,header{
position:absolute;
}
nav,#bodycontent{
top:12.54em;
}
#bodycontent{
left:213px;
}
header,#tagline{
width:100%;
}
header{
border-top:3px solid #7da5d8;
display:block; /*only for IE* or less*/
}
.aside{
float:right;
margin:10px;
width:200px;
}
figure img{
border:15px solid white;
border-radius:10px;
box-shadow:10px 10px 20px black;
margin-bottom:10px;/*added to give the shadow some breathing space*/

}
figcaption{
display:block;
font-size:65%;
font-weight:bold;
margin-top:0;
widtth:430px;
line-height:1.4em;
}
figcaption span{
font-weight:normal;
color:gray;
}
figure{
display:block;
padding-bottom:20px;
border-bottom:1px solid navy;
margin-bottom:10px;
}
table.events{
border-collapse:collapse;
}
table.events th,table.events td{
padding:4px;
border:1px solid #000066;
}
table.events th{
font-size:x-small;
text-align:left;
background: #241374 url(gallery/header-bg.jpg);
color: #ffffff;
padding-bottom:0;
padding-left:2px;
padding-right:2px;
}
table.events td{
font-size:small;
background:#e2edff url(gallery/td.jpg)repeat-x top;
}
table.events caption{
color: #000066;
font-size: small;
text-align:left;
padding-bottom:5px;
font-weight:bold;
}
form.contact fieldset{
border:2px solid navy;
padding:10px;
}
form.contact legend{
font-weight:bold;
font-size:small;#color:navy
padding:5px;
}
form.contact{
padding:0;
margin:0;
margin-top:-15px;
line-height:150%;
}
form.contact label{
font-weight:Bold;
font-size:small;
color:blue;
}
form.contact label.fixedwidth{
display:block;
width:240px;
float:left;
} /*to have an equal width and alignment of the label boxes*/ 
form.contact.buttonarea input{
background:navy;
color:white;
font:bold;
padding:5px;
border:1px solid white;
}
form.contact.buttonarea{
text-align:center;
padding:4px;
background-color:#0066ff;
}
#homepage{
float:left;
margin:0 10px 10px 0;
}
aside{
display:block;
float:right;
margin:10px;
padding:10px;
width:30%;
background:white;
font-style:italic;
color:gray;}
aside blockquote{
font-size:1.2em;
line-height:1.4em;
margin:0 0 0.5em 0;
font-stlye:normal;
color:#006;
}
aside{
border:2px solid gray;
border-top-right-radius:20px;
border-bottom-left-radius:20px;
}
img{
border-top-right-radius:20px;
border-bottom-left-radius:20px;
}
h2{text-shadow:1px 1px 1px gray;
}
#tips{
height:200px;
width:300px;
overflow:scroll;
background-color:wheat;
}
footer{
display:block;
font-size:small;
color:grey;
}
li{
font-size:small;
color:green;
}
#vmission{
color:green;}
